*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Menú y título*/

header{
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgb(54, 145, 61);
}

h1{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px #1b4d22;
}

nav{
    width: 100%;
}

nav ul{
    display: flex;
    margin: auto;
    width: 90%;
    flex-direction: row; justify-content: space-between;
}

li{
    display: flex;
    list-style: none;
    padding: 15px;
}

li:hover{
    background-color: rgb(105, 190, 112);
    box-shadow: 5px 5px 5px #1b4d22;
}

a{
    text-decoration: none;
    color:black;
}

.boton-nummenu{
    width: 70px;
    text-align: center;
    margin-left: 5px;
}

.boton-fechamenu{
    margin-left: 5px;
}

/*FIN Menú y título*/

/*Reserva de habitaciones*/

#cont-habitaciones{
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: column;
}

.habitacion{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    border: 1px solid #1b4d22;
    border-radius: 5px;
    align-items: center;
}

.descrip-habt{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.descrip-habt h2{
    text-align: center;
}

.descrip-habt p{
    text-align: justify;
    padding-top: 20px;
}

.descrip-precio{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.descrip-precio p{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}

.descrip-precio input{
    margin-top: 15px;
    padding: 8px;
    text-align: center;
    background-color: #97cf9e;
    color:rgb(0, 0, 0)
}

.descrip-precio input:hover{
    background-color: #4e9b59;
    color: antiquewhite;
}

/*FIN Reserva de habitaciones*/